<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <%= error_msg %>
        <form action="/employee/customer/individual" method="POST">

            Full Name: <input type="text" id="full_name" name="full_name" value = "<%= post_body.full_name %>" required>
            <br>

            Address: <input type="text" id="address" name="address" value="<%= post_body.address %>" required>
            <br>

            National ID: <input type="text" id="national_ID" name="national_ID" value="<%= post_body.national_ID %>"
                required>
            <br>

            Date of Birth: <input type="text" id="date_of_birth" name="date_of_birth"
                value="<%= post_body.date_of_birth %>" required>
            <br>

            Residential Contact Number:<input type="text" id="residential_contact_no" name="residential_contact_no"
                value="<%= post_body.residential_contact_no %>" required>
            <br>

            Private Contact Number: <input type="text" id="personal_contact_no" name="personal_contact_no"
                value="<%= post_body.personal_contact_no %>" required>
            <br>

            Date Joined: <input type="text" id="date_joined" name="date_joined" value="<%= post_body.date_joined %>"
                required>
            <br>

            E-mail Address: <input type="email" id="email" name="email" value="<%= post_body.email %>" required>
            <br>

            Password: <input type="password" id="password" name="password" required>
            <br>

            Confirm Password: <input type="password" id="confirm_password" name="confirm_password"
                 required>
            <br>

            <input type="submit">
        </form>

    </body>

</html>