<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        Loan installments for <%= loan_id %> 
       
            <% if (is_late ) {%>
        <form action = "/employee/loan_installments/late" method="POST">
            <h3>Late Installments</h3>
            <table>
                <thead>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Amount </th>
                    <th></th>
                </thead>

                <tbody>
                    <% const months = ['January','February','March','April','May','June','July','August','September','October','November','December']%>
                    <tr>

                        <td> <%= months[parseInt(installments[0].due_month)-1]%></td>

                        <td> <%= installments[0].due_year  %> </td>

                        <td> <%= installments[0].loan_installment  %></td>

                        <td>
                            <input type="number" value="<%= installments[0].installment_id  %>" name="installment_id" hidden>
                            <input type="number" value="<%= installments[0].due_month %>" name="due_month" hidden>
                            <input type="number" value="<%= installments[0].due_year %>" name="due_year" hidden>
                            <input type="submit"  value="Mark Paid">
                        </td>

                    </tr>
                    <% for(var i=1; i < installments.length; i++){ %>
                    <tr>

                        <td> <%= months[parseInt(installments[i].due_month)-1]%></td>

                        <td> <%= installments[i].due_year  %>   </td>

                        <td> <%= installments[i].loan_installment  %></td>
                        <td></td>
                    </tr>
                    <br>
                    <% } %>
                </tbody>
            </table>

        </form>
            <% } else{ %> 
                <form action = "/employee/loan_installments/current" method="POST">

                <h3> installments due</h3>
                <table>
                    <thead>
                        <th>Installment ID</th>
                        <th>Due Date</th>
                        <th>Amount </th>
                        <th></th>
                    </thead>
    
                    <tbody>
                        <% for(var i=0; i < installments.length; i++){ %>
                        <tr>
                            <td> <%= installments[i].installment_id %>  </td>
    
                            <td><%=(JSON.stringify(installments[i].due_date)).toString().substr(1,10) %></td>
                            
                            <td>  <%= installments[i].loan_installment %></td>
    
                            <td>
                                <input type="submit"  value="Pay">
                            </td>
    
                        </tr>
                        <br>
                        <% } %>
                    </tbody>
                </table>
                </form>

            <% } %>     

     
    </body>
</html>