<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Savings Accounts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <h1>Savings Accounts</h1>
    </head>

    <body>
        <%if (accounts.length==0){%>
        You do not have any savings accounts.
        Please visit your nearest Bank A branch to open a savings account.
        <%} else{%>
                <% for(var i=0; i < accounts.length; i++) { %>
                   
                     <h3><%= accounts[i].savings_account_id  %></h3>
                     <br>
                     Branch Name:<%= accounts[i].branch_name  %>
                     <br>
                     Bank Balance: Rs. <%= accounts[i].bank_balance  %>
                     <br>
                     Plan Name:<%= accounts[i].plan_name  %>
                     <br>
                     Remaining number of withdrawals for the month: <%= accounts[i].no_of_withdrawals_remaining  %>
                     <br>

                     <br>
                     <br>
             <%}%>
        <%}%>
        <form action="/" method="GET">
            <input type="submit" value="Home">
        </form>
        
    </body>
</html>