<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Savings Accounts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <h1>Savings Accounts</h1>
    </head>

    <body>
        <%if (savings_accounts.length==0){%>
        You do not have any savings accounts.
        <%} else{%>
                <% for(var i=0; i < savings_accounts.length; i++) { %>
                   
                     <h3><%= savings_accounts[i].savings_account_id  %></h3>
                     <br>
                     Branch Name:<%= savings_accounts[i].branch_name  %>
                     <br>
                     Bank Balance:<%= savings_accounts[i].bank_balance  %>
                     <br>
                     Plan Name:<%= savings_accounts[i].plan_name  %>
                     <br>
                     Remaining number of withdrawals for the month: <%= savings_accounts[i].no_of_withdrawals_remaining  %>
                     <br>
                     <br>
                     <br>
             <%}%>
        <%}%>
        
    </body>
</html>