<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Installments Report</h1>
        <% const months = ['January','February','March','April','May','June','July','August','September','October','November','December']%>
        <h2>Late Loan Report Installments for <%= months[parseInt(month) -1] %>
            of <%=year%></h2>
        <% if (installments.length>0) {%>
            
        <table>
            <thead>
                <th>Installment ID</th>
                <th>Loan ID</th>
                <th>Installment </th>
                <th>Remaining Installment</th>
                <th>Status</th>

            </thead>
            <tbody>
                <% for(var i=0; i<installments.length;i++) {%>
                <tr>
                    <td><%= installments[i].installment_id%></td>
                    <td><%= installments[i].loan_id%></td>
                    <td><%= installments[i].loan_installment%></td>
                    <td><%= installments[i].remaining_no_of_installments%></td>
                    <td><%= installments[i].status%></td>
                </tr>
                <%}%>
                </tbody>
            </table>
                <%} %>

                <form action="/" method="GET">
                    <input type="submit" value="Home">
                </form>
    </body>
</html>