<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Transactions</h2>
        <% if (transactions.length>0) {%>
        <table>
            <thead>
                <th>Transaction ID</th>
                <th>Date</th>
                <th>Initiating Account</th>
                <th>Receiving Account</th>
                <th>Transaction Amount</th>

            </thead>
            <tbody>
                <% for(var i=0; i<transactions.length;i++) {%>
                <tr>
                    <td><%= transactions[i].transaction_id%></td>
                    <td><%=(JSON.stringify(transactions[i].date)).toString().substr(1,10) %></td>
                    <td><%= transactions[i].initiating_account_id%></td>
                    <td><%= transactions[i].receiving_account_id%></td>
                    <td><%= transactions[i].transaction_amount%></td>
                </tr>
                <%}%>
                </tbody>
            </table>
                <%} %>
    </body>
</html>